<h1 mat-dialog-title>{{ formTitle }}</h1>
<form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <div mat-dialog-content>

        <mat-form-field>
            <mat-label>Login</mat-label>
            <input formControlName="login" matInput>
        </mat-form-field>

        <mat-form-field *ngIf="!editFormFlag">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]="hidePass ? 'password' : 'text'" >
            <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field *ngIf="!editFormFlag">
            <mat-label>Password Confirm</mat-label>
            <input formControlName="confirmPassword" matInput [type]="hidePassConf ? 'password' : 'text'" >
            <mat-icon matSuffix (click)="hidePassConf = !hidePassConf">{{hidePassConf ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select Role</mat-label>
            <mat-select formControlName="role">
                <mat-option *ngFor="let item of roleList" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="editFormFlag">
            <mat-label>Select Status</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let item of statusList" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Save</button>
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    </div>
</form>